.alunos {
    justify-content: center;
    display: flex;
    padding-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.header {
    justify-content: center;
    display: flex;
    padding-bottom: 20px;
}

.btn-novoAluno {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
}

button:hover {
    background-color: #ccc;
}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
}

thead {
    background-color: #f5f5f5;
    color: black;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
}

th, td {
    padding: 15px;
    text-align: left;
}

tr {
    border-bottom: 1px solid #ccc;
}

.btn-editar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #f8f124;
    color: black;
}

.btn-excluir {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #e31a1a;
    color: white;
}








